/*
 * -------------------------------------------------
 *  GTL! - NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

conda.enabled = true
//report.overwrite = true

// Input and output parameters
params {

    bamlist_tsv = "/cfs/klemming/projects/supr/nrmdnalab_storage/projects/patric-f-natrix/analyses/nf-GL_popstructure/input/samples.tsv"
    outdir = "/cfs/klemming/projects/supr/nrmdnalab_storage/projects/patric-f-natrix/analyses/nf-GL_popstructure/output/"
    chr = "/cfs/klemming/projects/supr/nrmdnalab_storage/projects/patric-f-natrix/analyses/nf-GL_popstructure/input/mt_OZ187420.1.list"
    help = ''
    pruneDist = 50
    prune = true
    minMapQ = 20
    minQ = 20
    minMaf = 0.05
    setMinDepthInd = 2
    setMinDepth = 20
}


profiles {
    standard {
        process.executor = 'local'
    }
    dardel {
        includeConfig 'profile/dardel.config'
    }
}

