/*
 * -------------------------------------------------
 *  GTL! - NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    bams = "/path/to/bamlist/*.list"
    outdir = "/path/to/outdir"
    chr_ref = "/path/to/chromosomalreferencefile"
    k = 2
    PCAngsd = "pcangsd.py"
    help = ''
    skip_plots = false
}


profiles {

    standard {
       /*
        * Still needs to be further developed
        */
        process.executor = 'local'
    }

    mfn { includeConfig 'config/mfn.config' }

    rackham {
       /*
        * Edit for your cluster
        */
        includeConfig 'profile/rackham.config'
    }

}
