/*
 * -------------------------------------------------
 *  GTL! - NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    bamlist_tsv = "/crex/proj/snic2020-16-126/Bop/MS4/04.GL/00.meta/subset.tsv"
    outdir = "/crex/proj/snic2020-16-126/Bop/MS4/04.GL/01.nf-results_APDE/"
    chr = "/crex/proj/snic2020-16-126/Bop/MS4/04.GL/00.meta/chr.list"
    help = ''
    pruneDist = 50
    prune = true
    minMapQ = 20
    minQ = 20
    minMaf = 0.05
    setMinDepthInd = 2
    setMinDepth = 20
}


profiles {

    standard {
       /*
        * Still needs to be further developed
        */
        process.executor = 'local'
    }

    rackham {
       /*
        * Edit for your cluster
        */
        includeConfig 'profile/rackham.config'
    }

}

