params {
    config_profile_name = 'Uppmax rackham profile'
    config_profile_description = 'Profile that works with the rackham cluster on Uppmax'
    project = 'XXXXX'
    clusterOptions = null
    }
process {
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
    cpus = 3
    memory = '14 GB'
    time = '4h'
    conda = '/PATH/TO/ENVIROMENT/enviroment.yml'
    
    withLabel: 'RAM_high' {
        cpus = 8
        memory = '48 GB'
        time = '12h'
    }
    withLabel: 'FAST' {
        cpus = 1
        memory = '6 GB'
        time = '2m'

    }
    
}
